<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:util="http://www.springframework.org/schema/util"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:aop="http://www.springframework.org/schema/aop"   
 xmlns:task="http://www.springframework.org/schema/task"  
 xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/task  
        http://www.springframework.org/schema/task/spring-task-3.1.xsd">

 	<bean class="com.miteno.framework.spring.UTF8StringBeanPostProcessor"></bean>
 	  <!-- task任务扫描注解 -->
 	    <task:annotation-driven/>  
 	    <context:annotation-config/>  
        <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  
        <!-- <context:component-scan base-package="com.miteno.clear.thread"/>   -->
 	
 	
	
	<aop:aspectj-autoproxy/><!-- 支持 @AspectJ 标记-->  
	
	<!-- 基于注解方式, spring mvc 要扫描的包 -->
	<!-- 让spring mvc 知道去扫描哪些controller -->
	<context:component-scan base-package="com.miteno.**.controller"/>
	    <context:component-scan base-package="com.miteno.clear.job">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

	<mvc:annotation-driven/>
	
	<!-- 静态内容过滤处理,以下配置路径不会被spring当作请求controller处理 -->
	<mvc:resources location="/resources/" mapping="/resources/**"/>
	<mvc:resources location="/" mapping="*.jpg" />
	<mvc:resources location="/" mapping="*.html" />
<mvc:resources location="/fonts/" mapping="/fonts/**" /> 
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/img/" mapping="/img/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<!-- 模型视图名称,匹配contoller中返回的名称 -->
	<!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/views/" p:suffix=".jsp" /> -->
	<!-- 通用异常处理 -->
	<!-- <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView">
			<value>exception/failure</value>
		</property>
		
		<property name="exceptionMappings">
			<props>
				<prop key="java.net.ConnectException">exception/connectionException</prop>
				<prop key="org.springframework.dao.DataIntegrityViolationException">exception/DataIntegrity</prop>
				<prop key="java.sql.SQLException">exception/DbError</prop>
				<prop key="java.net.SocketTimeoutException">exception/SocketException</prop>
				<prop key="java.net.SocketException">exception/SocketException</prop>		
			</props>
		</property>
	</bean> -->
	<!-- 拦截器 -->
	<mvc:interceptors>
	<!-- 用来记录访问日志 -->
	<bean class="com.miteno.security.interceptor.OperationLoggerInterceptor"/>
	</mvc:interceptors>	
<!-- 	<mvc:default-servlet-handler/> -->
</beans>

	
